    {{!-- {{#if blog.length}} --}}
    <div>

	{{!-- {{#each blogIdMap}} --}}
    <h1>{{title}}</h1>
    <p>{{blog}}</p>

	{{!-- {{title}} --}}
	{{blogs}}

    {{!-- {{/each}} --}}
    {{!-- {{blogsMap}} --}}
    </div>
    {{!-- {{/if}} --}}