
{{#each blogs}}
  <div class="blog">
    {{!-- <h1>Hello {{user}}</h1> --}}
    {{!-- <h2>{{title}}</h2>
    <p>{{content}}</p> --}}
		<li><a href='/blogpage/{{blog.id}}'>{{title}}</a></li>
		
  </div>
{{/each}}
<button id='logoutButton' type='submit' class='btn btn-primary'>LOGOUT</button>
<script src='/js/logout.js'></script>




